button {
font-weight:500;
background-color: #d0aaea;
}

.citySearch {
border: #ffffff;
box-shadow: #000000 0 2px 5px 2px;
border-style: outset;
font-weight: bolder;
}

.searchHx {
text-align: center;
}

.displayArea {
display:flex;
height: fit-content;
padding: 10px;
}

#primary-card div {
background-color: rgb(200, 172, 226);
border: 5px solid black;
}

#day5-card {
display: flex
}

#day5-card div{
background-color: rgb(113, 166, 239);
border: 5px solid black;
width: 70%;
}